WORDPRESS_API_HOST=http://source.co.zw

FACEBOOK_APP_SECRET='62d63880fb7229c4cb3e4846c1add3d2'
FACEBOOK_PAGE_ACCESS_TOKEN='EAAB83C5s0hgBAAeEYJv1QSaUyFVJ2X6bNGdWMl8rBTMJiCjexj6FNRTOGZBzjaMgjFZBBqGvTaHgg6Rlm9babZC3lXEJKtksNRtipBDGeZCrkyeW5fac6xkS7Se1vS3hNya05JuEbkrJuriZBedoITefW2DZBhEQtp8lO8JsorBoV0nlmQsv6e'
FACEBOOK_VERIFY_TOKEN='dev1234'

APP_NAME=Sourcebot
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
APP_TIMEZONE=UTC
APP_LOCALE=en

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
